﻿@using System.Security.Claims
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @* BEGIN User Account Menu *@
    <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/Content/img/user.png" class="user-image" alt="User Image">
            <span class="hidden-xs">@User.Identity.GetUserName()</span>
        </a>
        <ul class="dropdown-menu">
            <li class="user-header">
                <img src="~/Content/img/user.png" class="img-circle" alt="User Image">

                <p>
                    @User.Identity.GetUserName()
                    <small>[Role]</small>
                </p>
            </li>
            <li class="user-footer">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="pull-left">
                        @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-default btn-flat" })
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default btn-flat" href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a>
                    </div>
                }
            </li>
        </ul>
    </li>
    @* END User Account Menu *@
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}