﻿@model Mvc.AdminLTE.Models.MenuItem
@{
    string link;
    if (!string.IsNullOrEmpty(Model.Action) && !string.IsNullOrEmpty(Model.Controller))
    {
        link = Url.Action(Model.Action, Model.Controller);
    }
    else
    {
        link = "#";
    }
}
@if (Model.ChildrenItems.Count > 0)
{
    <li class="treeview @(Model.Selected ? "active" : string.Empty)">
        <a href="@(link)">
            <i class="fa @Model.Icon"></i> <span>@Model.Text</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu @(Model.Selected ? "menu-open" : string.Empty)">
            @foreach (var menuItem in Model.ChildrenItems)
            {
                @Html.Partial("_MenuItem", menuItem);
            }
        </ul>
    </li>
}
else
{
    <li class="@(Model.Selected ? "active selected" : "")">
        <a href="@(link)"><i class="fa @Model.Icon"></i> <span>@Model.Text</span></a>
    </li>
}
