﻿@using Mvc.AdminLTE.Controllers
@model Mvc.AdminLTE.Models.MenuViewModel
<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input id="menu-search" type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu">
            <li class="header">@Model.MenuHeader</li>
            
            @foreach (var menuItem in Model.Menu)
            {
                @Html.Partial("_MenuItem", menuItem)
            }

            @*<li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(HomeController.Index) ? "active" : "")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Home</span></a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == nameof(HomeController.AnotherLink) ? "active" : "")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-link"></i> <span>Another Link</span></a>
            </li>
            
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <li>
                    <a href="@Url.Action("Index", "RolesAdmin")">
                        <i class="fa fa-cog"></i>
                        <span>Roles Admin</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "UsersAdmin")">
                        <i class="fa fa-user"></i>
                        <span>Users Admin</span>
                    </a>
                </li>
            }

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>*@
        </ul>
        @* END Menu *@
    </section>
</aside>