﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Roles Admin";
}
<div class="box">
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th style="width: 10px">#</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th><!-- Empty --></th>
            </tr>

            @for (var i = 0; i < Model.Count(); i++)
            {
                var item = Model.ToList()[i];
                <tr>
                    <td>
                        @Html.Raw(i + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default btn-flat" })
</p>
