﻿@model Mvc.AdminLTE.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<div class="box box-primary with-border">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="box-body">
            <h4>Personal Details</h4>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })    
                </div>
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <h4>@Html.DisplayNameFor(model => model.RolesList)</h4>
            <div class="form-group">
                <div class="box">
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <tbody>
                            @foreach (var item in Model.RolesList)
                            {
                                <tr>
                                    <td style="width: 10px">
                                        <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />
                                    </td>
                                    <td>
                                        @Html.Label(item.Value, new { @class = "control-label" })
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default btn-flat" })
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}