﻿@model IEnumerable<Mvc.AdminLTE.Models.ApplicationUser>

@{
    ViewBag.Title = "User Admin";
}
<div class="box">
    <div class="box-body no-padding">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th style="width: 10px">#</th>
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <th><!-- Empty --></th>
            </tr>

            @for (var i = 0; i < Model.Count(); i++)
            {
                var item = Model.ToList()[i];
                <tr>
                    <td>
                        @Html.Raw(i + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default btn-flat" })
</p>
